<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>

    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=prod-fs-webapp.covt7304iygr.us-east-1.rds.amazonaws.com;Initial Catalog=Dealerportal;User ID=DealerPortal;Password=bd809dc399"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="AspireConnection" providerName="System.Data.SqlClient" connectionString="Server=10.12.17.114; Database=ltiv4EcoHome; Integrated Security=false;User ID=ecohomecr1;Password=yNl!CJaa"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <!--this settings for authentification email service-->
    <add key="EmailService.FromEmailAddress" value="no-reply@notification.ecohomefinancial.com"
          xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EmailService.SmtpHost" value="smtp.mailgun.org"
          xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EmailService.SmtpPort" value="25"
          xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EmailService.SmtpUser" value="prod@notification.ecohomefinancial.com"
          xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EmailService.SmtpPassword" value="A5XPeJcwe8QU0SBaKDPo"
          xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SecurityHelper.RandomPasswordLength" value="25"
          xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--ENTER HERE Mailgun settings-->
    <add key="MailGun.ApiUrl" value="https://api.mailgun.net/v3/"
          xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MailGun.ApiKey" value="key-7b6273c4442da6aaa9496eb3eed25036"
          xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MailGun.Domain" value="sandbox36ed7e337cd34757869b6c132e07e7b0.mailgun.org"
          xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MailGun.From" value="postmaster@sandbox36ed7e337cd34757869b6c132e07e7b0.mailgun.org"
          xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--ENTER HERE Aspire settings-->
    <add key="AspireApiUrl" value="https://ecohomefinancial.leaseteam.net"
          xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AspireUser" value="Admin"
          xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AspirePassword" value="b"
          xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- DocuSign Settings-->
    <add key="DocuSignApiUrl" value="https://na3.docusign.net/restapi"
          xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DocuSignUser" value="d6dd0e4a-c105-4440-ae09-128248663b9f"
          xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DocuSignPassword" value="fP7bcIMlcXtLJuFecQyb"
          xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DocuSignIntegratorKey" value="0e6011e4-80aa-4cd2-a7d3-45f9648f25be"
          xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DocuSignBrandId" value="75843c76-cde9-4bad-a936-ea2355192697"
          xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="QuebecDocuSignBrandId" value="3a62cbe3-70b4-4c8d-a6d7-1b0233993c48"
          xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DocuSignNotificationsUrl" value="https://prod.ecohomefinancial.com/SMSListener/api/DocuSignListener/NotifySignatureStatus"
          xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DealerPortalDraftUrl" value="https://prod.ecohomefinancial.com/application/Dealer/ResumeOnBoarding/"
          xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>


    <add key="CustomerWalletApiUrl" value="http://localhost:9090/server/api"
          xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CustomerWalletClient" value="https://app.myhomewalletmyhomewallet.com"
          xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!--Email address for the environment-->
    <add key="DealNetEmail" value="dealerapps@ecohomefinancial.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DealNetErrorLogsEmail" value="smandal@ecohomefinancial.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CreditDecisionDealNetEmail" value="ecocredit@ecohomefinancial.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CreditDocsDealNetEmail" value="ecocredit@ecohomefinancial.com "  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FundingDocsDealNetEmail" value="dealersupport@ecohomefinancial.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="OtherDealNetEmail" value="cservice@ecohomefinancial.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="QuebecCreditDecisionDealNetEmail" value="ecocredit@ecohomefinancial.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="QuebecCreditDocsDealNetEmail" value="ecocredit@ecohomefinancial.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="QuebecFundingDocsDealNetEmail" value="supportmarchand@servicesfinanciersecohome.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="QuebecOtherDealNetEmail" value="serviceclientele@servicesfinanciersecohome.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!--MailChimp api-->
    <add key="MailChimpApiKey" value="bd814044fbdc583103b7717a850f6bb0-us15"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ListID" value="f2fbf6eb8b"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RegistrationListID" value="37d90d1e44"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--SMSSubscription api-->
    <add key="SmsAffiliateCode" value="Broker"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SubscriptionRef" value="ECOHOME_MRE"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SMSENDPOINT" value="https://websvcs1.jumptxt.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SMSAPIKEY" value="5a195cfcb82ef7f91ccc051cfd8bd1d4"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ListenerEndPoint" value="http://localhost:8090/Server/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!--Mandrill api-->
    <add key="MandrillApiKey" value="WvIrJeKaJPOJz5Q3Lp3jJg"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MandrillEndPoint" value="https://mandrillapp.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DealerLeadAcceptedTemplate" value="DP_Dealer_Lead_Accepted"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="HomeImprovementTypeUpdatedTemplate" value="MB_Finding_Dealer"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DeclinedOrCreditReviewTemplate" value="MC_Declined"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DraftLinkTemplate" value="DOB_DealerApplicationLink"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AspireServiceErrorTemplate" value="DOB_ErrorLog"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SupportRequestTemplate" value="DP_SupportRequest" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DraftLinkTemplateFrench" value="DOB_French_SaveAndResume" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SignatureDeclineNotification" value="DP_SignatureDeclineNotification" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="QuebecSignatureDeclineNotification" value="DP_DeclineSignatureNotification_Bilingual" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CustomerLinkFormNotification" value="DP_CustomerLinkForm" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="QuebecCustomerLinkFormNotification" value="DP_CustomerLinkForm_Bilingual" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SendNotifyMailNoDealerAcceptLead" value="DP_SendNotifyMailNoDealerAcceptLead"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FromEmail" value="no-reply@ecohomefinancial.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>