<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="credentialSettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="crypteronConfig" type="Crypteron.CrypteronConfig, CipherCore, Version=2017, Culture=neutral, PublicKeyToken=e0287981ec67bb47" requirePermission="false" />
  </configSections>
  <crypteronConfig>
    <myCrypteronAccount appSecret="EiCQQkv9g+sBr/zNXa+RyzB1sanu6wjMv6T5Wa+1LJ5UuRjxEw==" />
    <debugLogs>
      <debugLogFile logFilename="Logs\cipher-db-log.txt" filterLevel="Warning" />
    </debugLogs>
  </crypteronConfig>
  
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=10.115.3.216;Initial Catalog=local-dealerportal;User ID=unit-portal;Password=unitportal123" />
    <add name="AspireConnection" providerName="System.Data.SqlClient" connectionString="Server=10.12.17.114; Database=ltiv4Test; Integrated Security=false;User ID=ecohomecr1;Password=yNl!CJaa" />
  </connectionStrings>
  <appSettings>
    <!--this settings for authentification email service-->
    <add key="EmailService.FromEmailAddress" value="no-reply@notification.ecohomefinancial.com" />
    <add key="EmailService.SmtpHost" value="smtp.mailgun.org" />
    <add key="EmailService.SmtpPort" value="25" />
    <add key="EmailService.SmtpUser" value="postmaster@notification.ecohomefinancial.com" />
    <add key="EmailService.SmtpPassword" value="c450953bde98b558910b4fe3fc5183f2" />
    <add key="SecurityHelper.RandomPasswordLength" value="25" />
    <!--<add key="AuthProvider" value="Stub" />-->
    <add key="AuthProvider" value="AuthProvider" />
    <add key="HttpsOnProduction" value="true" />
    <!--ENTER HERE Mailgun settings-->
    <add key="MailGun.ApiUrl" value="https://api.mailgun.net/v3/" />
    <add key="MailGun.ApiKey" value="key-7b6273c4442da6aaa9496eb3eed25036" />
    <add key="MailGun.Domain" value="sandbox36ed7e337cd34757869b6c132e07e7b0.mailgun.org" />
    <add key="MailGun.From" value="postmaster@sandbox36ed7e337cd34757869b6c132e07e7b0.mailgun.org" />
    <!--ENTER HERE Aspire settings-->
    <add key="AspireApiUrl" value="https://ecohomefinancialtest.leaseteam.net" />
    <add key="AspireUser" value="Admin" />
    <add key="AspirePassword" value="b" />
    <add key="AspireMortgageBrokerRole" value="Mortgage Brokers, Realtor, Mortgage Broker Rep, Realtor Rep" />
    <!--ENTER HERE DocuSign digital signature settings-->
    <add key="DocuSignApiUrl" value="https://demo.docusign.net/restapi" />    
    <add key="DocuSignUser" value="452dc554-7194-41ae-9184-ea05323a7d0b" />
    <add key="DocuSignPassword" value="P@ssw0rd_dealnet" />
    <add key="DocuSignIntegratorKey" value="0e6011e4-80aa-4cd2-a7d3-45f9648f25be" />
    <add key="DocuSignBrandId" value="75843c76-cde9-4bad-a936-ea2355192697" />
    <add key="QuebecDocuSignBrandId" value="3a62cbe3-70b4-4c8d-a6d7-1b0233993c48" />
    <add key="DocuSignNotificationsUrl" value="https://demo243.dataart.com/Client/Storage/NotifySignatureStatus/" />
    <add key="DealerPortalDraftUrl" value="http://localhost:37931/Dealer/ResumeOnBoarding/" />

    <!--Aspire statuses-->
    <!--Document upload status-->
    <add key="DocumentUploadStatus" value="32-Docs Received" />
    <!--All Documents Uploaded status-->
    <add key="AllDocumentsUploadedStatus" value="42-Ready for Audit" />
    <add key="CreditReviewStatus" value="20-Credit Review, 20-Credit Review (ECP)" />
    <add key="OnboardingInitStatus" value="12-Submitted"/>
    <add key="OnboardingDraftStatus" value="10-Saved"/>
    <add key="RiskBasedStatus" value="Pre Approved"/>
    <add key="HidePreApprovalAmountsForLeaseDealers" value="false"/>
    
    <!--Describing portal constants-->
    <!--Ecohome-->
    <add key="PortalDescriber.df460bb2-f880-42c9-aae5-9e3c76cdcd0f" value="LeadSourceEcohome" />
    <!--ODI-->
    <add key="PortalDescriber.606cfa8b-0e2c-47ef-b646-66c5f639aebd" value="LeadSourceOdi" />
    <!--deafult portal lead source-->
    <add key ="DefaultLeadSource" value="LeadSourceEcohome"/>
    <!--Onboarding lead source-->
    <add key ="OnboardingLeadSource" value="onboardingdealer"/>
    <add key ="OnboardingLeadSourceFrench" value="onboardingdealerFrench"/>
    <add key="InitialDataSeedEnabled" value="false" />
    <add key="AgreementTemplatesFolder" value="SeedData" />
    <add key="QueriesFolder" value="Queries" />
    <add key="UseTestAspire" value="false" />
    <add key="CustomerEmailNotificationEnabled" value="false" />
    <!--Customer Wallet integration-->
    <add key="CustomerWalletApiUrl" value="http://localhost:40703/api" />
    <add key="CustomerWalletClient" value="http://localhost:40940" />
    <add key="CustomerWalletPhone" value="1-888-859-0059" />
    <add key="CustomerWalletEmail" value="myhomewallet@ecohomefinancial.com" />
    <add key="MortgageBrokerPhone" value="1-888-859-0059" />
    <add key="MortgageBrokerEmail" value="info@ecohomefinancial.com" />
    <add key="DealNetEmail" value="hsharmatest@gmail.com" />
    <add key="DealNetErrorLogsEmail" value="hsharmatest@dataart.com" />
    <add key="CreditDecisionDealNetEmail" value="hsharmatest+1@gmail.com"/>
    <add key="CreditDocsDealNetEmail" value="hsharmatest+2@gmail.com"/>
    <add key="FundingDocsDealNetEmail" value="hsharmatest+3@gmail.com"/>
    <add key="OtherDealNetEmail" value="hsharmatest+4@gmail.com"/>
    <add key="QuebecCreditDecisionDealNetEmail" value="hsharmatest+Quebec1@gmail.com"/>
    <add key="QuebecCreditDocsDealNetEmail" value="hsharmatest+Quebec2@gmail.com"/>
    <add key="QuebecFundingDocsDealNetEmail" value="hsharmatest+Quebec3@gmail.com"/>
    <add key="QuebecOtherDealNetEmail" value="hsharmatest+Quebec4@gmail.com"/>

    <!--Scheduler configuration-->
    <add key="LeadExpiredMinutes" value="720" />
    <add key="CheckPeriodMinutes" value="60" />

    <!--MailChimp api-->
    <add key="MailChimpApiKey" value="3bd04b10b9b1ab17a1200a50305533b6-us15" />
    <add key="ListID" value="802e397f5f" />
    <add key="RegistrationListID" value="b4f4279fcc"/>
    <!--SMSSubscription api-->
    <add key="SmsAffiliateCode" value="Broker" />
    <add key="SubscriptionRef" value="DEV_ECOHOME_MRE" />
    <add key="SMSENDPOINT" value="https://websvcs1.jumptxt.com" />
    <add key="SMSAPIKEY" value="5a195cfcb82ef7f91ccc051cfd8bd1d4" />
    <add key="ListenerEndPoint" value="http://localhost:62264" />

    <!--Mandrill api-->
    <add key="MandrillApiKey" value="nOXwyoQu1GLJWLiaF4N4Sw" />
    <add key="MandrillEndPoint" value="https://mandrillapp.com" />
    <add key="DealerLeadAcceptedTemplate" value="Dev_DP_Dealer_Lead_Accepted"/>
    <add key="HomeImprovementTypeUpdatedTemplate" value="Dev_MB_Finding_Dealer"/>
    <add key="DeclinedOrCreditReviewTemplate" value="Dev_MC_Declined"/>
    <add key="DraftLinkTemplate" value="Dev_DOB_DealerApplicationLink"/>
    <add key="DraftLinkTemplateFrench" value="Dev_DOB_French_SaveAndResume"/>
    <add key="AspireServiceErrorTemplate" value="Dev_DOB_ErrorLog"/>
    <add key="SupportRequestTemplate" value="Dev_DP_SupportRequest"/>
    <add key="SignatureDeclineNotification" value="Dev_DP_SignatureDeclineNotification"/>
    <add key="QuebecSignatureDeclineNotification" value="Dev_DP_DeclineSignatureNotification_Bilingual"/>
    <add key="CustomerLinkFormNotification" value="Dev_DP_CustomerLinkForm"/>
    <add key="QuebecCustomerLinkFormNotification" value="Dev_DP_CustomerLinkForm_Bilingual"/>
    <add key="FromEmail" value="no-reply@ecohomefinancial.com"/>
    <add key="ClarityTierName" value="Clarity ClimateCare Program"/>
    <add key="QuebecPostalCodes" value="G,H,J"/>
    <add key="EmcoLeaseTierName" value="EMCO"/>
  </appSettings>
  <credentialSettings>
    <add key="EmailService.SmtpUser" value="" />
    <add key="EmailService.SmtpPassword" value="" />
    <!--Aspire credentials-->
    <add key="AspireUser" value="Admin" />
    <add key="AspirePassword" value="b" />
  </credentialSettings>
  <!--for sms subscription-->
  <system.net>
    <settings>
      <servicePointManager checkCertificateName="true" checkCertificateRevocationList="false" useNagleAlgorithm="true" expect100Continue="false" />
    </settings>
  </system.net>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SubscriptionManagementServiceService">
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="SubscriptionManagementServiceService">
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="SubscriptionManagementServiceServiceSoapBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://websvcs1.jumptxt.com/media-ws/subscription-management-api/1.0" behaviorConfiguration="SubscriptionManagementServiceService" binding="basicHttpBinding" bindingConfiguration="SubscriptionManagementServiceServiceSoapBinding" contract="SMSSubscriptionManagement.subscriptionManagementAPI" name="subscriptionManagementAPIPort">
        <headers>
          <authentication>
            <customer>EcoHome</customer>
            <username>ecohome-api</username>
            <password>J4QQxZEVbMgM4MAlMVW9</password>
          </authentication>
        </headers>
      </endpoint>
    </client>
  </system.serviceModel>

  <log4net>

    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\service-log.txt" />
      <appendToFile value="true" />
      <maximumFileSize value="500KB" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="RollingFile" />
    </root>
    <logger additivity="false" name="Hangfire">
      <level value="ERROR" />
      <appender-ref ref="HangfireLoggerAppender" />
      <level value="FATAL" />
      <appender-ref ref="HangfireLoggerAppender" />
    </logger>
  </log4net>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="51200" />
    <!--<authorization>
      <deny users="?"/>
    </authorization>-->
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>