<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>

    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=FS-S2012-DEV01;Initial Catalog=stage-DealerPortal;User ID=stage-portal;Password=stageportal123"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="AspireConnection" providerName="System.Data.SqlClient" connectionString="Server=10.12.17.114; Database=ltiv4Test; Integrated Security=false;Connection Timeout=5;User ID=ecohomecr1;Password=yNl!CJaa"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="DocuSignNotificationsUrl" value="https://staging-dev.ecohomefinancial.com/Stage-SMSListener/api/DocuSignListener/NotifySignatureStatus"
          xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DealerPortalDraftUrl" value="https://staging-dev.ecohomefinancial.com/application/Dealer/ResumeOnBoarding/"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CustomerWalletApiUrl" value="http://fs-s2012-dev01.corp.dealnetcapital.com:9090/stage-customerwallet/api"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CustomerWalletClient" value="http://staging-dev.ecohomefinancial.com/client"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- DocuSign Settings-->
    <add key="DocuSignUser" value="a4dd97c1-db32-4456-a70e-3f4f4909962a"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DocuSignPassword" value="Hiren1234"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DocuSignIntegratorKey" value="0e6011e4-80aa-4cd2-a7d3-45f9648f25be"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--Email address for the environment-->
    <add key="DealNetEmail" value="hirenecohome@gmail.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DealNetErrorLogsEmail" value="hirenecohome@gmail.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CreditDecisionDealNetEmail" value="Sali.silvera+CreditDecision@gmail.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CreditDocsDealNetEmail" value="Sali.silvera+CreditDocs@gmail.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FundingDocsDealNetEmail" value="Sali.silvera+FundingDocs@gmail.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="OtherDealNetEmail" value="Sali.silvera+Other@gmail.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="QuebecCreditDecisionDealNetEmail" value="Sali.silvera+ecocredit@gmail.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="QuebecCreditDocsDealNetEmail" value="Sali.silvera+serviceclienttele@gmail.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="QuebecFundingDocsDealNetEmail" value="Sali.silvera+supportmarchand@gmail.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="QuebecOtherDealNetEmail" value="Sali.silvera+QuebecOther@gmail.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!--Mandrill templates for the environment-->
    <add key="DealerLeadAcceptedTemplate" value="Stage_DP_Dealer_Lead_Accepted" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="HomeImprovementTypeUpdatedTemplate" value="Stage_MB_Finding_Dealer" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DeclinedOrCreditReviewTemplate" value="Stage_MC_Declined" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DraftLinkTemplate" value="Stage_DOB_DealerApplicationLink" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DraftLinkTemplateFrench" value="Stage_DOB_French_SaveAndResume" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AspireServiceErrorTemplate" value="Stage_DOB_ErrorLog" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SupportRequestTemplate" value="Stage_DP_SupportRequest" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SignatureDeclineNotification" value="Stage_DP_SignatureDeclineNotification" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="QuebecSignatureDeclineNotification" value="Stage_DP_DeclineSignatureNotification_Bilingual" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CustomerLinkFormNotification" value="Stage_DP_CustomerLinkForm" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="QuebecCustomerLinkFormNotification" value="Stage_DP_CustomerLinkForm_Bilingual" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SendNotifyMailNoDealerAcceptLead" value="Stage_DP_SendNotifyMailNoDealerAcceptLead"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>